<div class="flex flex-wrap justify-between gap-4 w-full h-full bg-white p-3 rounded-lg shadow-md">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8" style="background-color: white;">

    <!-- Date Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Data">
        Data
      </th>
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
    </ng-container>

    <!-- Hour Column -->
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Hora">
        Hora
      </th>
      <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
    </ng-container>

    <!-- Request Column -->
    <ng-container matColumnDef="solicitante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Solicitante">
        Solicitante
      </th>
      <td mat-cell *matCellDef="let element"> {{element.solicitante}} </td>
    </ng-container>

    <!-- Observation Column -->
    <ng-container matColumnDef="observacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Observação">
        Observação
      </th>
      <td mat-cell *matCellDef="let element"> {{element.observacao}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="w-full flex flex-row justify-end">
    <button class="flex flex-row">
      <mat-icon fontIcon="keyboard_arrow_left"></mat-icon>
      <div class="flex flex-row gap-1">
        <p>1</p>
        <p>de</p>
        <p>10</p>
      </div>
      <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
    </button>
  </div>
</div>