<!-- sidebar -->
<mat-drawer-container class="w-full h-full fixed z-[99]" autosize>
  <mat-drawer #drawer class="h-full" mode="side">
    <div class="w-full h-full bg-primary text-gray-200 p-5 flex flex-col justify-between">
      <div class="flex flex-row w-full justify-between items-center">
        @if(drawer.opened) {
        <img src="/assets/images/help-desk-logo-nome-branco.png" alt="logo" width="140">
        <button type="button" matButton matTooltip="Reduzir" (click)="drawer.toggle()">
          <mat-icon fontIcon="radio_button_checked"></mat-icon>
        </button>
        }
      </div>
      <div class="flex flex-col gap-1 w-full h-[300px]">
        <button type="button" class="{{ url === 'home'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}"
          (click)="navigate('home', 'Principal')">
          <mat-icon fontIcon="home"></mat-icon>
          Principal
        </button>
        <button type="button" class="{{ url === 'solicitacoes'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}"
          (click)="navigate('solicitacoes', 'Solicitações')">
          <mat-icon fontIcon="group_add"></mat-icon>
          Solicitações
        </button>
        <button type="button" class="{{ url === 'servicos'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}"
          (click)="navigate('servicos', 'Serviços')">
          <mat-icon fontIcon="computer"></mat-icon>
          Serviços
        </button>
        <button type="button" class="{{ url === 'solicitacao'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}"
          (click)="navigate('solicitacao', 'Solicitação')">
          <mat-icon fontIcon="settings_remote"></mat-icon>
          Solicitação
        </button>
      </div>
      <div class="flex flex-col gap-1 w-full">
        <hr class="text-white mb-3">
        <button type="button" (click)="navigate('perfil', 'Perfil')" class="{{ url === 'perfil'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
          <mat-icon fontIcon="person"></mat-icon>
          Perfil
        </button>
        <button type="button" (click)="navigate('sobre', 'Sobre')" class="{{ url === 'sobre'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
          <mat-icon fontIcon="info"></mat-icon>
          Sobre
        </button>
        <button type="button" class="{{ url === 'sair'
          ? 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-start items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
          <mat-icon fontIcon="exit_to_app"></mat-icon>
          Sair
        </button>
      </div>
      <!-- @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
      }
      <button (click)="showFiller = !showFiller" matButton="elevated">
        Toggle extra text
      </button> -->
    </div>
  </mat-drawer>

  <div class="bg-gray-200 h-full w-full pb-[80px] lg:pb-0 md:pb-0">
    <div class="flex flex-col lg:flex-row md:flex-row h-full justify-between">
      @if(!drawer.opened) {
      <div
        class="lg:flex md:flex flex-col fixed gap-3 justify-between text-white rounded-r-lg w-[80px] bg-primary h-full p-3 hidden z-[99]">
        <button type="button" matButton matTooltip="Expandir" (click)="drawer.toggle()">
          <img src="/assets/images/help-desk-logo-nome-branco.png" alt="logo" width="60">
        </button>
        <div class="flex flex-col gap-1 w-full h-[400px]">
          <button type="button" (click)="navigate('home', 'Principal')" matTooltip="Principal" class="{{ url === 'home'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="home"></mat-icon>
          </button>
          <button type="button" (click)="navigate('solicitacoes', 'Solicitações')" matTooltip="Solicitações" class="{{ url === 'solicitacoes'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="group_add"></mat-icon>
          </button>
          <button type="button" (click)="navigate('servicos', 'Serviços')" matTooltip="Serviços" class="{{ url === 'servicos'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="computer"></mat-icon>
          </button>
          <button type="button" (click)="navigate('solicitacao', 'Solicitação')" matTooltip="Solicitação" class="{{ url === 'solicitacao'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="settings_remote"></mat-icon>
          </button>
        </div>
        <div class="flex flex-col justify-center gap-1 w-full">
          <hr class="text-white mb-3">
          <button type="button" (click)="navigate('perfil', 'Perfil')" matTooltip="Perfil" class="{{ url === 'perfil'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="person"></mat-icon>
          </button>
          <button type="button" (click)="navigate('sobre', 'Sobre')" matTooltip="Sobre" class="{{ url === 'sobre'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="info"></mat-icon>
          </button>
          <button type="button" matTooltip="Sair" class="{{ url === 'sair'
          ? 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
          : 'flex justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
            <mat-icon fontIcon="exit_to_app"></mat-icon>
          </button>
        </div>
      </div>
      }
      <div
        class="{{drawer.opened ? 'flex flex-col gap-5 px-5 w-full h-full overflow-y-auto z-50' : 'flex flex-col gap-5 px-5 lg:pl-[100px] md:pl-[100px] w-full h-full overflow-y-auto z-50'}}">
        <div class="w-full bg-white p-3 rounded-b-lg shadow-md">
          <h1 class="text-[25px] text-primary font-semibold uppercase transition-all animate-fade-left">{{ props.title
            }}</h1>
          <p class="animate-fade-left">{{ props.subtitle }}</p>
        </div>
        <router-outlet></router-outlet>
        <div class="pb-8"></div>
      </div>
      <!-- sm -->
      <div class="lg:hidden md:hidden flex items-end fixed z-40 w-full h-full">
        <div
          class="flex flex-row gap-3 justify-center items-center text-white rounded-t-lg w-full bg-primary h-[80px] p-3 lg:hidden md:hidden">
          <div class="flex flex-row gap-2">
            <button type="button" (click)="navigate('home', 'Principal')" matTooltip="Principal" class="{{ url === 'home'
             ? 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
             : 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
              <mat-icon fontIcon="home"></mat-icon>
            </button>
            <button type="button" (click)="navigate('solicitacoes', 'Solicitações')" matTooltip="Solicitações" class="{{ url === 'solicitacoes'
             ? 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
             : 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
              <mat-icon fontIcon="group_add"></mat-icon>
            </button>
            <button type="button" (click)="navigate('solicitacao', 'Solicitação')" matTooltip="Solicitação" class="{{ url === 'solicitacao'
             ? 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
             : 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
              <mat-icon fontIcon="settings_remote"></mat-icon>
            </button>
            <button type="button" (click)="navigate('perfil', 'Perfil')" matTooltip="Perfil" class="{{ url === 'perfil'
             ? 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
             : 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
              <mat-icon fontIcon="person"></mat-icon>
            </button>
            <button type="button" (click)="navigate('sobre', 'Sobre')" matTooltip="Sobre" class="{{ url === 'sobre'
             ? 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
             : 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
              <mat-icon fontIcon="info"></mat-icon>
            </button>
            <button type="button" matTooltip="Sair" class="{{ url === 'sair'
             ? 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg bg-blue-600 p-3'
             : 'flex w-[50px] justify-center items-center gap-2 uppercase text-[22px] rounded-lg p-3' }}">
              <mat-icon fontIcon="exit_to_app"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</mat-drawer-container>