<div class="flex flex-wrap justify-between gap-2 w-full h-full bg-white px-3 rounded-lg shadow-md animate-fade-up">
  <div class="w-full lg:w-1/4 flex-col">
    <div class="flex flex-col gap-2 w-full justify-start py-6 mr-2">
      <h2 class="font-semibold text-justify truncate text-[24px] text-primary">Higor Ribeiro Araujo</h2>
      <img src="/assets/images/higor.jpg" alt="higor" class="rounded-md w-full">
    </div>
  </div>
  <div class="flex flex-col justify-between gap-2 w-full lg:w-[74%] py-5 pb-6 items-start">
    <div class="w-full h-full">
      <div class="flex flex-col gap-2 justify-between h-full">
        <div class="flex flex-col mt-10">
          <p class="text-justify mb-4">
            O Help Desk para Técnico de Informática (HDTI) foi desenvolvido por Higor Ribeiro Araujo para dá auxílio e
            organização ao suporte de
            TI, pois trata-se de uma área muito corrida. No HDTI é possível solicitar serviços, o TI poderá aceitar a
            solicitação e dá níveis de prioridades aos usuários solicitantes, também será gerado uma lista que será
            usada
            de inventário dos serviços realizados no dia e dentre outras funções.
          </p>
          <p class="text-justify">
            Até o momento trata-se da primeira versão do HDTI, é uma ferramenta open source em desenvolvimento, onde
            outros desenvolvedores podem ficar à vontade para realizar suas contribuições. Além disso, por ser open
            source, também poderá ser instalado em qualquer empresa ou organização gratuitamente, terá um passo a passo
            nos meus repositórios para ajudar na instalação.
          </p>
        </div>
        <div class="flex flex-col">
          <h3 class="font-semibold text-justify truncate text-[20px] text-primary">Sobre o desenvolvedor:</h3>
          <p class="text-justify">
            - Bacharel em Sistemas de Informação
          </p>
          <p class="text-justify">
            - Desenvolvedor de Software
          </p>
          <p>Para mais informações, entre em contato:</p>
          <ul>
            <li>- (91) 98485-0712</li>
            <li>- {{'higorribeiroaraujo007@gmail.com'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>